@model LoginModel;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Description</h1>
        <form asp-action="Index" method="post">
            <div>
                <label asp-for="UserName">Username:</label>
                <input asp-for="UserName" />

            </div>
        </form>
    </body>
</html>
